/* BASE */
:root {
    --background-grey: #424242;
    --background-grey-light: #C4C4C4;
    --heading-grey: #535556;
    --heading-green: #748687;
    --active-grey: #444444;
    --lighter-grey: #E1DFDF;
    --darker-grey: #8E8E8E;
    --text-dark: #575859;
    --text-light: #ffffff;
    --heading-yellow: #FED702;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: sans-serif;
}

/* Utilities */
.content-wrapper {
    max-width: 95%;
    margin: 0 auto;
}
/* Main Section */
.main-section {
    background-color: var(--background-grey);
}

.main-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.main-section__box {
    min-height: 60vh;
    width: 48%;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey-light);
    margin-bottom: 2rem;
}

.characters__header, .details__header {
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--heading-yellow);
    text-align: center;
    border-radius: 2rem 2rem 0 0;
}

.details__header {
    background-color: var(--heading-green);
}

.details__info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .main-section__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-section__box {
        width: 90%;
    }
}